@media screen and (min-width:1200px) {
   .infobox {
      display: block;
   }
   
}


@media screen and (min-width:1200px) {
   .main-nav-desk {
      display: block;
   }
   
}

.main-nav-desk ul li {
    background-color: rgb(171, 233, 190);
    margin-top: 50px;
    margin-bottom: 50px;
    
}


#heroimgmain {
    height: 400px;
}

.logoimg {
    background-color: white;
    border-radius: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-header {
    background-color: rgb(67, 193, 67);
}

.main-nav ul {
    display: flex;
   list-style-type: none;
   margin-bottom: 0px;
   margin-top: 0px;
 }

.main-nav ul li {
   padding-left: 47px;
   padding-right: 47px;
   text-decoration: none;

}

#secondlogo {
    background-color: white;
}

#logo2 {
    height: 200px;
}

.infobox {
    position: relative;
}

.maininfoh2left {
    position: absolute;
    margin-bottom: 50px;
    left: 100px;
}

.maininfopleft {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
}

.standinimageleft {
    outline: 1px black;
}
.infobuttonleft {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(67, 193, 67);
    width: 100px;
    height: 50px;
    border-radius: 10%;
    position: absolute;
    right: 100px;
}




.maininfoh2right {
    position: absolute;
    margin-bottom: 50px;
    right: 100px;
}

.maininfopright {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 500px;
}

.standinimageright {
    outline: 1px black;
}

.infobuttonright {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(67, 193, 67);
    width: 100px;
    height: 50px;
    border-radius: 10%;
    position: absolute;
    right: 100px;
}